# Rails ignores
*.rbc
*.sassc
**.orig
.sass-cache
capybara-*.html
.rspec
rerun.txt
/site_files/.bundle
/site_files/Gemfile.lock
/site_files/log/*
/site_files/tmp/*
/site_files/db/*.sqlite3
/site_files/db/schema.rb
/site_files/vendor/bundle
/site_files/public/spec.html
/site_files/public/system/*
/site_files/coverage/
/site_files/spec/tmp/*
/site_files/rails_best_practices_output.html

# Linux ignores
.*
*~
*.sw[a-p]
.directory

# Vim ignores
.*.sw[a-z]
*.un~

# OSX ignores
.DS_Store?
Icon?
._*
.Spotlight-V100
.Trashes

# TextMate ignores
*.tmproj
*.tmproject
tmtags

# Handy Ant
/site_files/public/fonts/*
/site_files/public/logo.*
/site_files/public/images/*
/site_files/public/favicon.ico
/site_files/public/stylesheets/themes/*
/site_files/public/stylesheets/partials/*
/site_files/app/views/layouts/application.html.erb
/site_files/config/*.yml
/site_files/config/config.local
/site_files/public/stylesheets/backend.css
/site_files/public/stylesheets/frontend.css
/site_files/public/stylesheets/backend-extras.css
/site_files/public/stylesheets/frontend-extras.css
/site_files/public/javascripts/frontend.js
/site_files/public/javascripts/backend.js
*.xls
*.bak


#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository.
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails3-application-templates/raw/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue: 
# http://github.com/RailsApps/rails3-application-templates/issues
#----------------------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*.log
/tmp

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt
/spec/requests
/spec/routing
/spec/views
/specifications

# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile ~/.gitignore_global
#
# Here are some files you may want to ignore globally:

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp
